body {
    font: 20px arial san-serif;
}

.navbar {
    background-color:  #27ae60;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quem-somos {
    background-color:  #85c1e9 ;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(113, 238, 225);
}

.bg-footer {
    background-color: black;
    color: blanchedalmond;
}